.text-lg-ag {
  font: var(--text-title-lg);
  color: var(--base-gray-600);
}

.text-sm {
  font: var(--text-sm);
  color: var(--base-gray-400);
}

.tag-red {
  font: var(--text-sub);
  color: var(--color-red);
}
.tag-purple {
  font: var(--text-sub);
  color: var(--color-purple);
}
